.frame-217 {
  /* border: 14px solid wheat; */
  width: 98vw;

  display: flex;
  flex-direction: column;
  gap: 72px;

  /* background: #23c1aa10; */

  background: #23c1aa1a;

  position: absolute;
  top: 2000px;
}

.back-2 {
  /* border: 1px solid aqua; */

  width: 98vw;
  height: 500px;
  /* position: absolute; */
  top: 00px;
}

.frame-216 {
  /* width: 1142px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.frame-203 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
/* here  */

.empty-div {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: whitesmoke;

  align-self: center;
}

.hackathon {
  width: 235;
  height: 36;
  angle: 0 deg;
  opacity: 1;
  gap: 4px;
  border-radius: 50px;
  border-width: 2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;

  border: 2px solid;

  /* border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7) 0%,
    #c5ee4f 100%
  ); */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0.25px;
  vertical-align: middle;
  /* text-align: unset; */

  /* color: #ffffff; */

  color: #e8f9ff;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hackathon2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;

  color: #ffffff;
}

.hackathon2 span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: Regular;
  font-size: 45px;
  leading-trim: NONE;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: center;

  color: #ffffff;
}

.frame-207 {
  /* width: 1000px; */
}

.frame-204 {
  width: 1000;
  height: 72;

  display: flex;
  /* justify-content: space-between; */

  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  background: #23c1aa40;
}

.tracks {
  width: 500px;
  height: 72;

  display: flex;
  gap: 10px;
  border-right-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.tracks div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0px;

  color: #ffffff;
}

.prices {
  width: 500px;
  height: 72;

  display: flex;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.prices div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0px;

  color: #ffffff;
}

.frame-205,
.frame-212,
.frame-213,
.frame-211 {
  display: flex;
}

.track1 {
  width: 500px;
  /* height: 124px; */

  gap: 10px;
  border-right-width: 0.5px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  border-width: 0px, 0.5px, 1px, 1px;

  border-style: solid;

  border-color: #23c1aa80;
  color: #ffffff;
}

.track1 div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.price1 {
  width: 500px;
  /* height: 124px; */

  gap: 10px;
  border-right-width: 0.5px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  border-width: 0px, 1px, 1px, 0.5px;

  border-style: solid;

  border-color: #23c1aa80;
}

.price1 div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.frame-209 {
  display: flex;
  flex-direction: column;
}

.frame-2044 {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  background: #23c1aa40;

  width: 1068px;
  height: 72;

  /* why is the width different */

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  border-right-width: 1px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.frame-2044 div {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0px;
  /* text-align: center; */

  color: #ffffff;
}

.first-row {
  /* width: 1142px; */
  height: 90;
  angle: 0 deg;
  opacity: 1;

  display: flex;
  flex-direction: row;
}

.reg-box {
  width: 500px;
  height: 90;
  angle: 0 deg;
  opacity: 1;

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-right-width: 0.5px;
  border-bottom-width: 1px;
  border-left-width: 1px;

  border-width: 0px, 0.5px, 1px, 1px;

  border-style: solid;

  border-color: #23c1aa80;
}

.reg-box div {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.25px;

  color: #ffffff;
}

.reg-box .sept {
  font-family: Roboto;
  font-weight: 400;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.hack-box {
  width: 500px;
  height: 90;
  angle: 0 deg;
  opacity: 1;

  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-right-width: 0.5px;
  border-bottom-width: 1px;
  border-left-width: 1px;

  border-width: 0px, 0.5px, 1px, 1px;

  border-style: solid;

  border-color: #23c1aa80;
}

.hack-box div {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.25px;

  color: #ffffff;
}

.hack-box .oct-nov {
  font-family: Roboto;
  font-weight: 400;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.frame-228 {
  /* width: 1000px; */
  height: 660;

  position: relative;
  top: 2990px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.other {
  /* width: 615px; */
  height: 52;
  angle: 0 deg;
  opacity: 1;
  gap: 16px;

  align-self: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  leading-trim: NONE;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: center;

  color: #ffffff;
}

.frame-228-sub {
  width: 1000px;
  height: 280;
  angle: 0 deg;
  opacity: 1;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.frame-228-sub div {
  width: 500px;
  height: 280;

  angle: 0 deg;
  opacity: 1;

  padding-top: 56px;
  padding-right: 32px;
  padding-bottom: 56px;
  padding-left: 32px;
  gap: 10px;
  border-radius: 32px;

  background: linear-gradient(90deg, #8daf51 0%, #c5ee4f 100%);
  box-shadow: 0px 0px 5px 5px #00484f;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0.5;
  text-align: center;

  color: #00484f;
}

.frame-228-sub span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0.5;
  text-align: center;

  color: #00484f;
}

.footer {
  height: 100px;
  position: relative;
  top: 3070px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4d4d4d4d;
}

.footer-sub {
  width: 1048px;
  height: 24px;
  padding: 3px;

  /* justify-content: space-between;
  angle: 0 deg;
  opacity: 1;
  top: 38px;
  left: 196px; */

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.built {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;

  color: #919094;

  display: flex;
  gap: 2px;
}

.built img {
  width: 20px;
  height: 18px;
  angle: 0 deg;
  opacity: 1;
}

.built span {
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer-img {
  width: 192px;
  height: 24;
  angle: 0 deg;
  opacity: 1;

  display: flex;
  gap: 32px;
}

.footer-img img {
  width: 18px;
  height: 18px;
  angle: 0 deg;
  opacity: 1;
  top: 3px;
  left: 3px;
  border-width: 1.5px;
}
